<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="tabela">
    <table id="tabelaUsuarios" class="table table-bordered table-hover mb-0">
        <thead>
        <tr class="text-center">
            <th style="width: 70px;">ID</th>
            <th>Nome</th>
            <th style="width: 160px;">Login</th>
            <th>E-mail</th>
            <th style="width: 110px;">Status</th>
            <th style="width: 220px;">Perfis</th>
            <th style="width: 130px;">Ações</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</th:block>

</body>
</html>